@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Variables
$font-family: "Inter", sans-serif;

// Color variables
$white: #FFF;
$black: #000;
$primary: #3B5D50;
$secondary: #F9BF29;
$dark: #2F2F2F;
$body_color: #6A6A6A;
$light: #dce5e4;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

body {
    font-family: $font-family !important;
    font-weight: 400;
    line-height: 28px;
    color: $body_color;
    overflow-x: hidden;
}

// Navbar
.custome-navbar {
    background-color: $primary;

    .navbar-brand {
        font-size: 32px;
        font-weight: 600;
        > span {
            opacity: .4;
        }
    }

    .navbar-toggler {
        border-color: transparent;

        &:active,
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    .costume-navbar-nav {
        li {
            @media (min-width: $lg) {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 14px;
            }

            a {
                font-weight: 500;
                color: $white !important;
                opacity: .5;
                position: relative;
                transition: .3s all ease;

                &:before {
                    @media (min-width: $lg) {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 5px;
                        background: $secondary;
                        bottom: 0;
                        left: 8px;
                        right: 8px;
                        opacity: 1;
                        visibility: visible;
                        transition: .15s all ease-out;
                    }
                }

                &:hover {
                    opacity: 1;

                    &:before {
                        width: calc(100% - 16px);
                    }
                }
            }
            &.active {
                a {
                    opacity: 1;

                    &:before {
                        width: calc(100% - 16px);
                    }
                }
            }
        }
    }

    .custome-navbar-icon {
        margin-left: 0 !important; // Mobile view
        flex-direction: row; // Align horizontally

        @media (min-width: $md) {
            margin-left: 40px !important; // Margin for tablet size
        }

        li {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}

// Hero
.hero {
    background-color: $primary;
    padding: calc(8rem - 30px) 0 8rem 0;

    .hero-desc {
        max-width: 450px;
    }

    h1 {
        color: $white;
        font-weight: 700;
    }

    p {
        color: rgba($white, .5);
    }

    .hero-img-wrap {
        position: relative;
        img {
            position: absolute;
            top: -80px;
            right: -100px;
            max-width: 780px;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            width: 255px;
            height: 217px;
            background-image: url('../assets/Dotted.png');
            background-size: contain;
            background-repeat: no-repeat;
            right: -100px;
            top: -40px;
        }
    }
}

// Product Section
.section-title {
	color: $dark;
}
.product-section {
	padding: 7rem 0;

	.product-item {
		text-align: center;
		text-decoration: none;
		display: block;
		position: relative;
		padding-bottom: 50px;
		cursor: pointer;

		.product-thumbnail {
			margin-bottom: 30px;
			position: relative;
			top: 0;
			transition: .3s all ease;
		}
		h3 {
			font-weight: 600;
			font-size: 16px;
		}
		strong {
			font-weight: 800!important;
			font-size: 18px!important;
		}
		h3, strong {
			color: $dark;
			text-decoration: none;
		}
		.icon-cross {
			position: absolute;
			width: 35px;
			height: 35px;
			display: inline-block;
			background: $dark;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: -17.5px;
			border-radius: 50%;
			opacity: 0;
			visibility: hidden;
			transition: .3s all ease;
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&:before {
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			content: "";
			background: $light;
			height: 0%;
			z-index: -1;
			border-radius: 10px;
			transition: .3s all ease;
		}
		&:hover {
			.product-thumbnail {
				top: -25px;
			}
			.icon-cross {
				bottom: 0;
				opacity: 1;
				visibility: visible;
			}
			&:before {
				height: 70%;
			}
		}
	}
}
